nav-height = 64 + 3*2px

#header
  padding 20px 0 0 0
  .global-title
    .global-title__title
      font-size 2.0em
      text-align center
      a
        color #ffffff
        opacity .9
        text-shadow 1px 1px #000
        transition 0.3s
        &:hover
          opacity 1
    .global-title__subtitle
      color color-meta
      font-size .9em
      text-align center
  nav
    font 1.5em font-title
    ul
      margin 10px 0
      list-style none
      text-align center
      li
        margin 0 50px
        display inline-block
        +sp()
          margin 0
          font-size .7em
          &:not(:nth-last-child(1)):after
            content "/"
            margin 0 5px
      a
        color #000000
        opacity 0.7
        transition 0.3s
        &:hover
          opacity 1
